html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* app-root ou un conteneur principal */
.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* footer non fixé */
.footer-fixed {
  /* PAS de position: fixed ici */
  width: 100%;
}
